* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/*HEADER START*/

header {
    overflow: hidden;
}

#header-content {
    position: relative;
    overflow: hidden;
    top: 0;
    font-size: 0;
    padding: 0;
}

#header-content div {
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 130vh;
    top: -20vh;
    opacity: 0;
    right: auto;
    left: auto;
    margin: 0;
}

div#smartphone {
    opacity: 1;
    background-image: url(../img/header/m480.svg);

}

/*HEADER END*/

/*MAIN NAV START*/

#main-nav {
    display: flex;
    -webkit-transition: all 0.5s ease-in-out;
}

#main-nav a {
    -webkit-transition: all 0.5s ease-in-out;
}

#main-nav .navbar-brand {
    font-size: 8vw;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

#main-nav a {
    font-size: 3vw;
    text-transform: uppercase;
}

#main-nav button {
    background-color: white;
    padding: 1em 4em;
    box-sizing: border-box;
    border-radius: 1em;
}

#main-nav button span {
    width: 5em;
    height: 5em;
}

/*MAIN NAV STOP*/

/*ABOUT START*/

section#about {
    color: whitesmoke;
    background-color: #000d27;
}

#about div {
    text-align: center;
}

#face {
    background-image: url(../img/about/face2.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*ABOUT END*/

/*SKILLS START*/

section#skills {
    background-color: whitesmoke;
    border-top: 5vh solid lightgrey;
    color: #000d27;
}

section#skills #my-skills .row div {
    text-align: center;
    height: 6em;
    overflow: hidden;
    margin-top: 2em;
}

article a#a108 {
    color: inherit;
    text-decoration: underline;
}

article a#a108:hover {
    color: inherit;
}

section#skills #my-skills > .row div > img {
    max-height: 90%;
}

section#skills #my-skills > .row div figure img {
    max-width: 90%;
}

/*SKILLS END*/

/*PORTFOLIO START*/
#my-projects{
    background-color: whitesmoke;
    border-bottom: 5vh solid lightgrey;
    box-sizing: border-box;
    padding: 10vh 0;
}
#my-projects h2{
    margin: 5vh 0;
}
#my-projects h3{
    font-size: 2em;
    text-align: center;
}
.project{
    margin-bottom: 5vh;
}
.project article{
    text-align: justify;
    display: block;
}
#my-projects a{
    padding: 0;
    color: black;
    text-decoration: underline;
}
#my-projects #cyberpunkers-generator a img{
    max-width: 100%;
    border: 5px solid lightgrey;
    border-radius: 30px;
    transition-duration: 1s;
}
#my-projects #cyberpunkers-generator a img:hover{
    transform: scale(1.05);
}

/*PORTFOLIO END*/

/*CONTACT START*/

section#contact {
    color: whitesmoke;
    padding-top: 5vh;
    padding-bottom: 10vh;
    background-color: #000d27;
}

form {
    margin-top: 1em;
}


.submitBtn {
    background-color: #ffe400;
    transition-duration: 0.5s;
    color: #000d27;
    border: 2px solid #ffe400;

}

.submitBtn:hover {
    color: #ffe400;
    background-color: #000d27;
    border: 2px solid #ffe400;
}

#socials1 a,
#socials2 a {
    font-size: 4em;
    color: #ffe400;
    transition-duration: 0.5s;
}

#socials1 a:hover,
#socials2 a:hover {
    color: #bba100;
}

/*CONTACT END*/

/*FOOTER START*/

footer {
    background-color: whitesmoke;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #000d27;
}

footer p {
    margin: 0;
}

footer span {
    border-left: 1px dotted #000d27;
    padding-left: 3vw;
    margin-left: 3vw;
}

footer a {
    color: #000d27;
    text-decoration: underline;
}

/*RWD*/

h2 {
    font-size: 70px;
    text-align: center;
}

article {
    font-size: 40px;
}

section#about {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

section#skills {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

#header-content {
    width: 100vw;
    height: 100vh;
}

input.form-control,
textarea.form-control {
    margin-bottom: 1em;
    font-size: 3em;
}

p {
    font-size: 30px;
}

/*WIDTH > 750px*/

@media (min-width: 750px) {
    #main-nav a {
        font-size: 4vw;
    }
    #main-nav .navbar-brand {
        font-size: 8vw;
    }
    
    h2 {
        font-size: 65px;
    }
    article {
        font-size: 30px;
    }
    section#skills {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    section#about {
        padding-top: 18vh;
        padding-bottom: 18vh;
    }
    input.form-control,
    textarea.form-control {
        font-size: 2.5em;
    }
    p {
        font-size: 30px;
    }
    footer p {
        font-size: 25px;
    }
    input[type="submit"] {
        font-size: 3em;
    }
    #socials1 .row {
        padding-top: 5vh;
    }
    #li i,
    #git i {
        padding-top: 4vh;
    }
    #my-projects h2{
        margin-bottom: 10vh;
    }
    #my-projects h3{
        font-size: 50px;
    }
}


/*WIDTH > 1024px*/

@media (min-width: 1024px) {
    #main-nav a {
        font-size: 2vw;
    }
    #main-nav .navbar-brand {
        font-size: 4vw;
    }
    #my-projects h3{
        text-align: left;
    }
    h2 {
        font-size: 45px;
    }
    article {
        font-size: 23px;
    }
    section#skills {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    section#about {
        padding-top: 23vh;
        padding-bottom: 23vh;
    }
    input.form-control,
    textarea.form-control {
        font-size: 1em;
    }
    p {
        font-size: 1em;
        margin-bottom: 0;
    }
    footer p {
        font-size: 1em;
    }
    input[type="submit"] {
        font-size: 1em;
    }
    #li i,
    #git i {
        padding-top: 0;
        font-size: 0.8em;
    }

    div#par_1 {
        background-image: url(../img/header/forrest_1.svg);
        opacity: 1;
    }
    div#par_2 {
        background-image: url(../img/header/forrest_2.svg);
        opacity: 1;
    }
    div#par_3 {
        background-image: url(../img/header/forrest_3.svg);
        opacity: 1;
    }
    div#par_4 {
        background-image: url(../img/header/forrest_4.svg);
        opacity: 1;
    }
    div#par_5 {
        background-image: url(../img/header/forrest_5.svg);
        opacity: 1;
    }
    div#par_6 {
        background-image: url(../img/header/forrest_6.svg);
        opacity: 1;
    }
    div#par_7 {
        background-image: url(../img/header/forrest_7.svg);
        opacity: 1;
    }
    div#par_8 {
        background-image: url(../img/header/forrest_8.svg);
        opacity: 1;
    }
    div#par_9 {
        background-image: url(../img/header/forrest_9.svg);
        opacity: 1;
        top: -29vh;
    }
    div#smartphone {
        opacity: 0;
    }


    #main-nav a.navbar-brand {
        font-size: 200%;
        text-transform: uppercase;
    }
    #main-nav a {
        font-size: 100%;
        text-transform: none;
    }
}

.amWhite {
    background-color: rgba(0, 13, 39, 0.5);
}

#main-nav.amWhite a {
    color: whitesmoke;
}
