body {
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: pink;
}
header{
    overflow: hidden;
}
#header-content {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    font-size: 0;
    padding: 0;
}

#header-content div {
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 130vh;
    top: -20vh;
    opacity: 0;
    right: auto;
    left: auto;
    margin: 0;
}
div#smartphone {
    opacity: 1;
    background-image: url(../img/header/m480.svg);
}

@media (min-width: 1024px) {
    div#par_1 {
        background-image: url(../img/header/forrest_1.svg);
        opacity: 1;
    }
    div#par_2 {
        background-image: url(../img/header/forrest_2.svg);
        opacity: 1;
    }
    div#par_3 {
        background-image: url(../img/header/forrest_3.svg);
        opacity: 1;
    }
    div#par_4 {
        background-image: url(../img/header/forrest_4.svg);
        opacity: 1;
    }
    div#par_5 {
        background-image: url(../img/header/forrest_5.svg);
        opacity: 1;
    }
    div#par_6 {
        background-image: url(../img/header/forrest_6.svg);
        opacity: 1;
    }
    div#par_7 {
        background-image: url(../img/header/forrest_7.svg);
        opacity: 1;
    }
    div#par_8 {
        background-image: url(../img/header/forrest_8.svg);
        opacity: 1;
    }
    div#par_9 {
        background-image: url(../img/header/forrest_9.svg);
        opacity: 1;
        top: -29vh;
    }
    div#smartphone {
        opacity: 0;
    }
}

section {
    height: 200vh;
    background-color: #000d27;
    position: relative;
/*    z-index: 90;*/
}

#main-nav {}

#main-nav button {
    background-color: white;
}

#main-nav a {}
